:root {
  --accent-color: #f0912d;
  /* Accent color */
  --dark-accent: #664036;
  /* Darker accent color */
  --darker-accent: #402e32;
  /* Darkest accent color */
  --background-color: #1a1a1a;
  /* Dark background color */
  --light-background: #2d2d2d;
  /* Lighter background color */
  --text-color: #f5f5f5;
  /* Light text color for contrast */
  --secondary-text-color: #cccccc;
  /* Secondary text color */
  --red: hsl(0, 70%, 50%);
}
* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
  margin: 0 0 0 0;
  padding-top: 0;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:visited {
  color: none;
}

button {
  background-color: var(--dark-accent);
  color: var(--text-color);
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-height: 3em;
}

input {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--dark-accent);
  color: var(--text-color);
}

/* #region navigation */

nav {
  background-color: var(--light-background);
}

nav > ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  justify-content: space-evenly;

  margin: 0 0 0 0;
  padding: 0 0 0 0;

  list-style: none;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 25px;
  font-size: 1.5em;
}

nav a:hover {
  background-color: #cccccc;
}

footer {
  background-color: var(--darker-accent);
  color: var(--secondary-text-color);
  text-align: center;
  position: sticky;
  top: 100vh;
  min-width: 98%;
  width: auto;
}

.date {
  text-align: right;
}

/* #endregion */

/* #region grid */
.grid-body {
  display: grid;
  height: 90% !important; /* FUCK YOU CSS AND ALL YOUR INVENTORS AND EVERYONE WHO EVER THOUGHT IT WOULD BE AN EVEN REMOTELY GOOD IDEA TO HAVE THE LITERALLY MOST STUPID AND USELESS LANGUAGE EVER INVENTED BE THE CONVENTIONAL STANDARD FOR THE HIGHLY CRITICAL INFRASTRUCTURE THAT IS THE LITERAL FUCKING INTERNET YOU FUCKING BOZOS */
  grid-template-rows: auto minmax(70%, min-content) 1fr;
  grid-template-columns: max-content 1fr;
  height: auto;
}

.grid-body nav {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  align-content: center;
}

.grid-body nav a {
  height: 100%;
}

.grid-body aside {
  grid-column: 1/2;
  grid-row: 2/3;
}

.grid-body main {
  grid-column: 2/-1;
  grid-row: 2/3;

  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-rows: 1fr 20%;
}

.grid-body footer {
  grid-row: 3/ -1;
  grid-column: 1/-1;
  max-height: 30%;
  position: none;
}

/* #endregion */

/* #region calculator */
.grid-body aside {
  padding-right: 20px;
}

.grid-body aside ol li:hover,
#sidebar-selected {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer !important;
}

.grid-body aside h3 {
  margin-bottom: 0.5em;
}

.grid-body aside ol {
  margin-top: 0;
  padding-top: 0;
}

.calculator {
  grid-column: 2/-2;
  grid-row: 1/-1;
  display: none;

}

.calculator-submit {
  grid-row: -2/-1;
  grid-column: 2/-2;
  text-align: center;
}

.submit-buttons {
  grid-row: -2/-1;
  grid-column: 1/-1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}

input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.calculator form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.calculator input {
  grid-column: -3/-1;
}

.calculator label {
  grid-column: 1/2;
  width: 100%;
  padding: 12px 0;
  margin: 8px 0;
  margin-left: 0;
  display: inline-block;
}

.calculator h1 {
  grid-column: 1/-1;
  grid-row: 1/2;
  text-align: center;
}

.calculator-result {
  display: none;
  border-radius: 10px;
  background-color: var(--light-background);
  grid-column: 1/-1;
  grid-row: 5/6;
  text-align: center;
}


.calculator-result h4 {
  color: var(--accent-color);
  text-decoration: underline;
}

/* #endregion */



/* #region formulary*/

#formulary-3d h1,
#formulary-2d h1 {
  text-align: center;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  width: auto;
  justify-content: center;
}

.card {
  width: fit-content;
  border: 1px solid var(--accent-color);
  padding: 10px;
  margin: 10px;
}

.card img {
  width: 300px;
  height: auto;
}

#python > a::before {
  content: "→ ";
}

#reset {
  display: none;
}

/*#endregion */

/*------------------------------------------------------------------------------*/

@media all and (max-width: 512px) {
  nav > ul {
    display: flex;
    flex-flow: column nowrap;
  }

  .card img {
    width: 100%;
    max-width: 300px;
  }
}
